/* ---- Behind the modal ---- */
.createModal {
  background-color: rgba(0, 0, 0, 0.598);
}

/* ---- Modal Header ---- */
.modalHeader {
  background-color: #4d4d4d;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* ---- Modal Title ---- */
.modalTitle {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: 32px;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: rgb(231, 230, 230);
}

/* ---- Modal Body ---- */
.modalBody {
  background-color: #bcbcbc;
  font-family: "Alumni Sans Pinstripe", sans-serif;
}

/* ---- Modal Labels ---- */
.modalLabel {
  font-size: 21px;
  font-weight: 600 !important;
  margin-bottom: 3px;
}

/* ---- Modal Inputs ---- */
.customInput {
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 0 5px 2px rgba(255, 255, 0, 0.046);
}

.customFileInput {
  font-size: 22px;
  background-color: #919191;
  border: none;
  color: rgb(0, 0, 0);
}

.customFileInput:hover {
    background-color: #626262a1 !important;
    color: rgb(215, 215, 215);
  }

/* ---- Modal Inputs focus ---- */
.customInput:focus {
  outline: none;
  border: none;
  border-color: rgba(83, 83, 3, 0.395);
  box-shadow: 0 0 2px 2px rgba(109, 109, 0, 0.226);
}

.createBtn {
    background-color: rgb(0, 103, 0);
    border: none;
    padding: 5px 35px;
    font-size: 23px;
    font-weight: 600;
}

.createBtn:hover {
    background-color: rgb(0, 66, 0);
    color: #919191;
}
