/* ---- Page Container ---- */
.pageContainer {
  background-color: rgb(240, 240, 240);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  padding-bottom: 30px;
}

/* ---- Status ---- */
.status {
  font-size: 0.8rem;
  margin-left: 15px;
  background-color: rgb(36, 36, 36);
  padding: 10px;
  border-radius: 8px;
  color: rgb(215, 215, 215);
}

/* ---- Title ---- */
.title {
  font-size: 1.7rem;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 45px;
}

/* ---- Description ---- */
.description {
  border: 1px solid rgba(121, 121, 121, 0.317);
  padding: 15px;
  border-radius: 8px;
  width: calc(100% - 30px);
  margin: 0 auto;
  background-color: #e6e6e6;
}

/* ------- File List Previews ------- */
.fileList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filePreview {
  width: 100%;
}

/* ---- Image files ---- */
.imagePreview {
  max-width: 100%;
  margin-left: 15px;
  display: block;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* ---- PDF files ---- */
.pdfPreview {
  width: calc(100% - 30px);
  margin: 0 15px;
  height: 800px;
  border-radius: 8px;
  border: none;
}

/* ---- TXT files ---- */
.txtPreview {
  width: calc(100% - 30px);
  border: 1px solid #ccc;
  margin: 0 15px;
  border-radius: 5px;
  padding: 15px;
  background-color: #f9f9f9;
  font-family: monospace;
}

.noFiles {
  color: rgba(255, 0, 0, 0.637);
  background-color: rgba(0, 0, 0, 0.918);
  width: 250px;
  padding: 20px;
  text-align: center;
  font-weight: 600;
  border-radius: 2px;
}

/* ---- Unsupported files ---- */
.unsupportedFile {
  text-align: center;
}

.unsupportedFile a {
  color: #007bff;
  text-decoration: underline;
}

/* ---- Divider Line ---- */
.dividerLine {
  width: 98%;
  height: 2px;
  background-color: #e0e0e0;
  margin: 20px auto 30px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

/* ------------ Fontawesome Icon for on Edit ------------ */
.editIconButton {
  background: none;
  border: none;
  margin-left: 15px;
  font-size: 1.3rem;
  color: #383838b1;
  cursor: pointer;
  padding: 0;
  margin-bottom: 9px;
}

.editIconButton:hover {
  color: #242424b1;
}

.editIconButton:focus {
  outline: none;
}

/* ------------------------------------------ DARK MODE ------------------------------------------ */

/* ---- Dark page container ---- */
.pageContainer.dark {
  background-color: #1a1a1a;
  color: #f1f1f1;
}

/* ---- Divider Line ---- */
.pageContainer.dark .dividerLine {
  background-color: #444;
}

/* ---- Status ---- */
.pageContainer.dark .status {
  background-color: #7d7d7d;
  color: #181818;
}

/* ---- No files ---- */
.pageContainer.dark .noFiles {
  background-color: #333;
  color: rgba(255, 80, 80, 0.8);
}

/* ---- Fontawesome icon for edit ---- */
.pageContainer.dark .editIconButton {
  color: #686868;
}

.pageContainer.dark .editIconButton:hover {
  color: #b0b0b0;
}

/* ---- Description ---- */
.pageContainer.dark .description {
  border: 1px solid rgba(121, 121, 121, 0.174);
  background-color: #333;
  color: #fff;
}
