body,
html {
  padding: 0;
  margin: 0;
  background-color: #3b3b3b !important;
  height: 100%;
}

.registerContainer {
  min-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.textAndLink {
  font-family: "Alumni Sans Pinstripe", "adventpro-regular" !important;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  font-size: 20px;
  color: bisque;
  margin-bottom: 0 !important;
  letter-spacing: 1px;
}

.textAndLink a {
  color: #ffb700;
  text-decoration: none;
  font-weight: 700;
}

.textAndLink a:hover {
  font-weight: 400;
}

/* --- Login Page Image --- */
.loginImage {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  z-index: 1;
  pointer-events: none;
}

/* Register Page Logo Images */
.LogoImage {
  position: absolute;
  top: 10%;
  left: 3%;
  width: 200px;
  z-index: 1;
  pointer-events: none;
  opacity: 0.04;
}

.LogoImage2 {
  position: absolute;
  top: 30%;
  right: 7%;
  width: 150px;
  z-index: 1;
  pointer-events: none;
  opacity: 0.04;
}

.LogoImage3 {
  position: absolute;
  top: 45%;
  left: 2%;
  width: 100px;
  z-index: 1;
  pointer-events: none;
  opacity: 0.04;
}

.LogoImage4 {
  position: absolute;
  top: 5%;
  right: 7%;
  width: 80px;
  z-index: 1;
  pointer-events: none;
  opacity: 0.04;
}

.LogoImage5 {
  position: absolute;
  bottom: 15%;
  left: 13%;
  width: 100px;
  z-index: 1;
  pointer-events: none;
  opacity: 0.04;
}

/* Register Page Bottom Image */
.registerImage {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 350px;
  z-index: 1;
  opacity: 0.3;
  pointer-events: none;
}


