/* --- Google Fonts --- */
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap");

/* --- Custom Fonts --- */
@font-face {
  font-family: "MouldyCheeseRegular";
  src: url("./assets/fonts/MouldyCheeseRegular-WyMWG.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "adventpro-regular";
  src: url("./assets/fonts/adventpro-regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}